body{
    
}
.container{
    
    height: 100%;
    width: 100%;
}
.box1{
    margin-left: 30%;
    margin-right: 15%;
    
}
.container, .box1-1,.box2-2{
    position: relative;
    border-radius: 3px;
    border-style: none;
}
.box1-1{
    height: 300px;
    width: 650px;
    background-color: rgb(58, 54, 54);
}
#text1,.text2{
    position: relative;
    width: 570px;
    font-size: medium;
    left: 6%;
    border-radius: 3px;
    border-style: none;
}
#text1{
    top: 28px;
    height: 40px;
}
.text2{
    top: 40px;
    height: 130px;
}
#add{
    border-style: none;
    border-radius: 5px;
    background-color: rgb(20, 98, 255);
    position: relative;
    top: 50px;
    left: 6%;
    height: 40px;
    width: 100px;
    color: aliceblue;
}
/* //below output part */
.box2{
position: absolute;

}
.box2-2{
    margin-right: 20px;
    float: right;
    color: white;
    height: 300px;
    width: 300px;
    background-color: rgb(58, 54, 54);
   
}

.note-title,.note,.delete,.edit{
position: relative;
top: 39px;
left: 9.5%;
}
.delete,.edit{
border-style: none;
border-radius: 5px;
background-color: rgb(21, 192, 24);
position: relative;
top: 100px;
height: 40px;
width: 120px;
color: rgb(241, 255, 240);
}
.edit{
background-color: rgb(187, 21, 21);
}
.delete:hover{
    background-color: rgba(21, 192, 24, 0.84);
}
.edit:hover{
    background-color:rgb(187, 21, 21,0.84); ;
}
#add:hover{
    background-color: rgb(20, 98, 255,0.84); 
}
.date{
position: absolute;
top: 80%;
left: 65%;
font-size: 13px;

}